<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
</head>
<body>
    <h1>User Registration</h1>
	<!-- Display success message -->
	   <div th:if="${successMessage}" style="color: green;">
	       <p th:text="${successMessage}"></p>
	   </div>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <label for="username">Username:</label>
		
        <input type="text" id="username" name="username" th:field="*{username}"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}"><br><br>
		<label for="email">Email:</label>
		 <input type="text" id="email" name="email" th:field="*{email}"><br><br>
		 <label for="role">Role:</label>
		 		 <input type="text" id="role" name="role"><br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>